# The compiled JavaScript
/server/static/dist/
/xp-game/

# ignore the logs, except for the .keep file
logs/*
!logs/.keep

# Editors
*~
tags
tags.*
.idea/
.vscode/
*.sw[op]

# Python
*.py[cod]
__pycache__/
.venv/
.mypy_cache/

# Node
node_modules/

# Ruby
/.bundle
.DS_Store
build/
