<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Experience Points</title>
        <script src="/static/vendor/socket.io.js" type="text/javascript"></script>
        <script src="/static/dist/vectors.js" type="module"></script>
        <script src="/static/dist/domain.js" type="module"></script>
        <script src="/static/dist/server.js" type="module"></script>
        <script src="/static/dist/app.js" type="module"></script>
        <script src="/static/dist/stats.js" type="module"></script>
        <script src="/static/dist/sanitizer.js" type="module"></script>
        <link rel="stylesheet" href="/static/styles/main.css" />
    </head>
    <body>
        <noscript>Please enable JavaScript to play this game.</noscript>

        <div class="layout">
            <canvas id="canvas" class="view" width="450" height="450"></canvas>
            <div id="login" class="text view">
                <h1 >You find yourself in a verdant forest.</h1>
                <form id="loginForm" class="login-form" autocomplete="off">
                    <input id="loginFormInput" type="text" placeholder="You struggle to recall your name." />
                    <input type="submit" value="Remember" />
                </form>
            </div> 

            <!-- Chat could be moved into canvas later, if needed. -->
            <div id="chat" class="text">
                <div class="messages" id="messages"></div>

                    <form autocomplete="off" id="chatForm" class="chat-form">
                        <input type="text" id="chatMessageInput" placeholder="Enter a chat message" />
                        <input type="submit" value="Send" />
                    </form>
                </div>
            <div class="stats">
                <p class="stats-item"><b id="username">Player</b></p>
                <p class="stats-item"><b>Level 1 Human</b></p>
                <p class="stats-item"><b>Health </b>
                    <span id="current-hp">10</span>/5
                </p>
                <p class="stats-item"><b>Equipment</b></p>
                <ul>
                    <li class="equipment-item">Vorpal Sword</li>
                </ul>
                 
            </div>
        </div>
    </body>
</html>
