* { padding: 0; margin: 0; }

th.controls {
    text-align: left;
}

th.wide {
    width: 50%;
}

.layout {
    display: grid;
    grid-template-columns: 475px 300px;
    grid-gap: 10px;
    grid-template-areas:
            "view stats"
            "chat chat";
    margin: 10px 0px 0px 100px;
}

.view {
    grid-area: view;
}

.stats {
    grid-area: stats;
    outline: #ccc 1px solid;
    height: 440px;
    margin-top: 10px;
    width: 280px;0
}

.chat {
    grid-area: chat;
}

.stats-item {
    padding: 1px 4px;
}

.equipment-item {
    margin-left: 20px
}

#chat {
    outline: #ccc 1px solid;
    padding: 7px;
    height: 250px;
    width: 750px;
    margin: 17px auto;
}

.text {
    font-family: monospace;
    color: #333;
}

.messages {
    /* outline: blue 1px solid; */
    height: 200px;
    overflow: auto;
}
.chat-form {
    /* outline: green 1px solid; */
    position: relative;
    height: 50px;
}
.chat-form input {
    height: 48px;
}
.chat-form input[type="text"] {
    /* width: 400px; */
    width: 740px;
    padding-left: 7px;
}
.chat-form input:focus {
    background-color: lightyellow;
}

#login {
    background-color: #cfc6b8;
    position: relative;
    top: 120px;
    left: 25px;
    height: 150px;
    width: 400px;
    border-radius: 10px;
}

#login h1, .login-form {
    margin: 10px;
}

.login-form {
    position: relative;
    height: 50px;
}
.login-form input {
    height: 48px;
}
.login-form input[type="text"] {
    width: 250px;
    padding-left: 7px;
}
.login-form input[type="submit"] {
    width: 100px;
}
.message {
    border-bottom: 1px solid #333;
    padding: 7px 4px;
}
.message .username {
    font-weight: bold;
}
